/* layout.css */

.nav-horizontal {
  display: flex;
  justify-content: space-between; /* Cambiado para un mejor control del espacio */
  align-items: center;
  background-color: #2c3e50;
  padding: 15px 30px; /* M치s padding para un look m치s espacioso */
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* A침ade una sombra sutil */
  border-radius: 8px; /* Bordes redondeados */
}

.nav-horizontal .logo-container {
  display: flex;
  align-items: center;
}

.nav-horizontal .logo-container img {
  height: 40px;
  margin-right: 10px;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaciado entre enlaces */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transici칩n en color */
  border-radius: 4px; /* Bordes redondeados para enlaces */
}

.nav-link:hover {
  background-color: #34495e;
  color: #ffffff; /* Mantiene el color blanco en hover */
}

.nav-link.active {
  background-color: #1abc9c; /* Color diferente para el enlace activo */
  color: #ffffff;
}
